/*
* 30/01/2016 - 9AM
* Author : ThangHellious
 */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	background-image: url('img/bg.jpg');
	font-family: 'Alegreya', serif;
}

.clr {
	clear: both;
}

/* ********************** */

/* Header - START */
header {
	position: relative;
}

/* navbar */
#head {
	width: 100%;
	max-width: 100%;
	background: url(img/header.png) no-repeat center -7px;
	background-size: cover;
	position: fixed;
	z-index: 9;
	height: 100px;
}

.left {
	float: left;
}

.nhan-sam {
	position: absolute;
	width: 46px;
	top: 10px;
	left: 70px;
}

.header-title {
	font-size: 25px;
	padding-left: 120px;
	display: inline-block;
	margin-top: 35px;
}

.header-title a {
	color: #afb701;
}

.header-contact {
	width: 350px;
	float: right;
	position: relative;
	height: 130px;
}

.header-contact .consultant {
	position: absolute;
}

.header-contact .consultant:before {
	content: "";
	transform: skewX(40deg);
	border: transparent;
	border-left: 2px solid black;
	height: 61px;
	position: absolute;
	right: 182px;
}

.header-contact .fa-phone {
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: -6%;
	transform: translate(-50%, -50%);
	right: 315px;
}

.number-phone {
	transform: translateY(-20px);
	position: relative;
	margin-right: 45px;
	margin-top: 85px;
}

.number-phone:before {
	content: "";
	position: absolute;
	top: 75%;
	left: 50%;
	background: #a32e30;
	transform: skewX(40deg) translate(-50%, -50%);
	width: 290px;
	height: 32px;
	z-index: 1;
	border-top: 2px solid black;
}

.number-phone:after {
	content: "01639181492";
	position: absolute;
	top: 75%;
	left: 30%;
	z-index: 2;
	color: #fac53b;
	font-weight: bold;
	font-size: 27px;
	transform: translate(-50%, -50%);
}

/* Head banner */
#head-banner {
	height: 586px;
	background-image: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	/* width: 100%; */
	position: relative;
	background-position: center 86px;
}

#line {
	display: inline-block;
	width: 900px;
	position: relative;
	margin-left: 285px;
	margin-top: 40px;	/* transform: scale(0.9); */
}

#line img {
	width: 100%;
}

#line ul {
	list-style: none;
}

#line ul li {
	display: inline-block;
	position: absolute;
}

#line .circle-1 {
	top: 70px;
	right: 60px;
}

#line .circle-2 {
	top: 110px;
	right: 270px;
}

#line .circle-3 {
	top: 90px;
	right: 480px;
}

#line .circle-4 {
	bottom: 180px;
	left: 100px;
}

#line .circle-5 {
	bottom: 30px;
	left: -20px;
}

#line .circle:before {
	content: "";
	width: 130px;
	height: 130px;
	background: rgba(238, 201, 100, 0.5);
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -4;
	box-shadow: 1px 5px 13px -2px;
}

#line .circle {
	display: inline-block;
	background-color: white;
	width: 107px;
	height: 107px;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
	border: 9px solid #eec964;
	position: relative;
	z-index: 3;
	box-shadow: 1px 4px 8px;
	transition: 0.5s;
}

#line ul li a {
	position: absolute;
	color: #a32e30;
	font-size: 20px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 22px;
	z-index: 6;
}

#line ul li a:before {
	content: '';
	background: white;
	position: absolute;
	width: 97px;
	height: 97px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 50%;
	transition: 0.5s;
}

#line ul li:hover .circle, #line ul li:hover a:before, #line ul li:hover a {
	text-decoration: none;
	background-color: rgba(238, 201, 100, 0.3);
}

#intro {
	position: absolute;
	width: 670px;
	background-color: white;
	padding: 25px;
	bottom: 50px;
	right: 60px;
	font-size: 18px;
	font-weight: 600;
}

#intro p {
	position: relative;
}

#intro p .forma {
	width: 50px;
	background-image: url(img/forma.png);
	background-repeat: no-repeat;
	height: 55px;
	position: absolute;
	bottom: 35px;
	right: -38px;
}

/* Header - END */

/* Content - START */
#content section h1 {
	color: #a32e30;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	background: #b0d19a;
	background: linear-gradient(to right, #b0d19a, transparent);
}

#content .border {
	background: #f6f5fb;
	width: 300px;
	border: 1px solid black;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
	border-radius: 20px;
	font-size: 22px;
	margin-top: 50px;
}

#content .border span {
	color: #a32e30;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 27px;
}

#content .brush {
	background: url(img/brush.png);
	background-repeat: no-repeat;
	height: 75px;
	text-align: center;
	font-size: 22px;
	background-position-y: -4px;
	background-position-x: 40px;
	margin-top: 25px;
	color: #a32e30;
	line-height: 45px;
	width: 100%;
}

#content .brush span {
	font-weight: bold;
	font-size: 27px;
}

#content .payment {
	margin-top: 20px;
}

#content .payment ul {
	display: block;
	list-style: none;
	margin: 0 auto;
	text-align: center;
}

#content .payment ul.row-1 li, #content .payment ul.row-2 li {
	margin-right: 20px;
	display: inline-block;
}

#content .payment ul.row-1 li:nth-child(1) {
	background: url(img/payment.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 80px;
}

#content .payment ul.row-1 li:nth-child(2) {
	background: url(img/payment.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 80px;
	background-position-x: -101px;
}

#content .payment ul.row-1 li:nth-child(3) {
	background: url(img/payment.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 80px;
	background-position-x: -206px;
}

#content .payment ul.row-2 li:nth-child(1) {
	background: url(img/payment.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 80px;
	background-position-y: -75px;
}

#content .payment ul.row-2 li:nth-child(2) {
	background: url(img/payment.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 80px;
	background-position-y: -75px;
	background-position-x: -101px;
}

#content .payment ul.row-2 li:nth-child(3) {
	background: url(img/payment.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 80px;
	background-position-y: -75px;
	background-position-x: -203px;
}

#content .col-mid {
	/* padding-bottom: 20px; */
	/* border-bottom: 2px dashed #8c736b; */
}

#content .title-price {
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
	background: #afb701;
	padding: 10px;
	border-radius: 6px;
	color: white;
	font-size: 19px;
}

#content .title-price span {
	font-weight: bold;
	font-size: 23px;
}

#content .form input {
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 5px 10px;
	outline: none;
	border: 1px solid #86a97f;
	font-size: 17px;
	margin-bottom: 15px;
}

#content .form textarea {
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 5px 10px;
	outline: none;
	border: 1px solid #86a97f;
	font-size: 17px;
	margin-bottom: 15px;
}

#content .count p {
	display: inline-block;
}

#content .count form {
	display: inline-block;
}

#content .count select {
	border-radius: 5px;
	padding: 8px 5px;
	border: 1px solid #86a97f;
}

#content .count input {
	margin-left: 50px;
	padding: 8px 24px;
	border-radius: 5px;
	border: 1px solid #86a97f;
	text-align: center;
}

#content .commit ul {
	padding: 0;
	list-style: none;
}

#content .commit ul li:first-child {
	margin-top: 20px;
}

#content .commit ul li {
	margin-top: 20px;
	border-bottom: 1px solid #b6d4a2;
	width: 270px;
	padding-bottom: 10px;
}

#content .commit i {
	color: #41b701;
	font-size: 18px;
}

#content .commit ul li .pf {
	display: inline-block;
	color: #a32e30;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
}

#content .commit ul li .ps {
	color: #8e948a;
	padding-left: 25px;
	font-size: 16px;
}

#content .btn {
	margin-top: 20px;
	position: relative;
	transition: 0.5s;
}

#content .btn i {
	position: absolute;
	top: 47%;
	left: 18%;
	transform: translate(-50%, -50%);
	color: white;
	background: #faac27;
	font-size: 30px;
	padding: 8px;
	border-radius: 50%;
	box-shadow: inset 0px 2px 10px #ff8e0c;
	-moz-box-shadow: inset 0px 2px 10px #ff8e0c;
	-o-box-shadow: inset 0px 2px 10px #ff8e0c;
	-webkit-box-shadow: inset 0px 2px 10px #ff8e0c;
}

#content .btn button {
	transition: 0.5s;
	width: 320px;
	padding: 13px;
	font-size: 25px;
	color: #a32e30;
	background: #fac53b;
	border-radius: 15px;
	border: 0;
	border-bottom: 6px solid #ff8e0c;
	box-shadow: 2px 8px 13px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 8px 13px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 8px 13px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 8px 13px rgba(0, 0, 0, 0.3);
}

#content .btn:hover button {
	background-color: #ffb800;
}

#content-bot .txt {
	font-size: 29px;
	color: #a32e30;
}

#content-bot .c-1 p {
	position: relative;
	display: inline-block;
	margin-left: 136px;
	margin-top: 100px;
}

#content-bot .c-1 p:after {
	content: '';
	border-bottom: 3px solid #fac53b;
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 9px;
	left: 0px;
	z-index: 0;
}

#content-bot .c-2 {
	text-align: center;
}

#content-bot .c-2 img {
	width: 100%;
}

#content-bot .c-3 p {
	position: relative;
	display: inline-block;
	top: 200px;
}

#content-bot .c-3 p:after {
	content: '';
	border-bottom: 3px solid #fac53b;
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 9px;
	left: 0px;
	z-index: -1;
}

/* Content - END */

/* Footer - START */

footer {
	background-image: url('img/footer-bg.png');
	background-size: cover;
	margin-top: 80px;
	width: 100%;
}

footer h1 {
	color: #da282d;
}

footer ul {
	list-style: none;
	padding-left: 28px;
}

footer ul li {
	padding-bottom: 10px;
	position: relative;	/* display: inline-block; */
}

footer ul li i {
	color: #da282d;
	position: absolute;
	top: 0;
	left: -25px;
}

footer ul li p {
	width: 350px;
	font-size: 15px;
	position: relative;
	color: white;
	display: inline-block;
}

footer ul li p:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}

footer .f-1 {
	margin-top: 20px;
}

footer .fu-2 {
	margin-left: 126px;
	margin-top: 50px;
}

footer .fu-2 li p {
	width: 100%;
	display: block;
}

footer .fu-2 a {
	color: white;
}

#copy {
	position: relative;
	color: #0b6a00;
	font-size: 14px;
	padding-bottom: 15px;
}

footer .fb {
	padding: 10px 5px;
	width: 500px;
	margin: auto;
	text-align: center;
	background: -webkit-linear-gradient(left, transparent 10%, rgba(213, 225, 175, 0.5) 30%, rgba(213, 225, 175, 0.9) 45%, rgba(213, 225, 175, 0.9) 55%, rgba(213, 225, 175, 0.5) 75%, transparent 90%);
	background: -o-linear-gradient(left, transparent 10%, rgba(213, 225, 175, 0.5) 30%, rgba(213, 225, 175, 0.9) 45%, rgba(213, 225, 175, 0.9) 55%, rgba(213, 225, 175, 0.5) 75%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, rgba(213, 225, 175, 0.5) 30%, rgba(213, 225, 175, 0.9) 45%, rgba(213, 225, 175, 0.9) 55%, rgba(213, 225, 175, 0.5) 75%, transparent 90%);
}

footer #copy h3 {
	margin: 0;
	font-size: 14px;
}

footer #copy h3 span {
	font-weight: bold;
}

footer #copy .viet {
	color: #a32e30;
}

footer #copy .sol {
	color: #427dec;
}

footer .social #ul-social {
	margin-top: 28px;
}

footer .social #ul-social li {
	padding-right: 10px;
	display: inline-block;
}

footer .social #ul-social li a img {
	width: 30px;
	border-radius: 50%;
	border: 2px solid #d0d467;
	transition: 0.5s;
}

footer .social #ul-social li:hover img {
	opacity: 0.7;
}

.wrap-footer {
	:background-image: url(
	img/footer-bg.png);
	:inherit
	/* min-width: 800px; */
	/* max-width: 100%; */
	width:;
	display: block;
	/* width: fit-content; */
	position: relative;
}

.wow {
	visibility: hidden;
}

/* Footer - END */

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
* 
 */

/* Media Query CSS - START */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width:1281px) {
}

/* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */
@media (min-width:1024px) and (max-width:1280px) {
	#line {
		margin-left: 165px;
		margin-top: 55px;
		transform: scale(.8);
		top: -58px;
		left: -10px;
	}

	#intro {
		transform: scale(0.9);
		left: 160px;
	}

	.header-contact {
		bottom: 8px;
	}

	#head-banner {
		width: fit-content;
		height: 450px;
	}

	#content .brush {
		background-position-x: 6px;
	}

	#content .count input, #content .count select, #content .count form, #content .count p {
		display: inline-block;
	}

	#content .count input {
		padding: 8px 21px;
		margin-left: 0px;
	}

	#content .count select {
		padding: 9px 0px;
	}

	#content-bot .c-1 p {
		margin-left: 76px;
	}

	#content .payment ul {
		margin-bottom: 10px;
	}

	#content .btn {
		right: 25px;
	}

	#content .commit ul li .pf {
		font-size: 22px;
		margin-bottom: 5px;
	}

	#content .commit ul li .ps {
		font-size: 20px;
	}

	.wrap-footer{
		width: 104vw;
	}

	footer .fu-2 {
		margin-left: 113px;
	}

}

/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
@media (min-width:768px) and (max-width:1022px) {
	#head {
		height: 100px;
	}

	#head-banner {
		height: 375px;
	}

	#header-banner {
		background-position: center 88px;
	}

	.header-contact {
		display: none;
	}

	.left {
		width: 100%;
		text-align: center;
	}

	.nhan-sam {
		top: 13px;
		left: 230px;
	}

	#line {
		width: 530px;
		margin: 0;
		margin-left: 155px;
		margin-top: 50px;
	}

	#line .circle:before {
		width: 80px;
		height: 80px;
	}

	#line ul li a {
		font-size: 13px;
		line-height: 15px;
	}

	#line ul li a:before {
		width: 50px;
		height: 50px;
	}

	#line .circle {
		width: 65px;
		height: 65px;
	}

	#line .circle-1 {
		top: 50px;
		right: 45px;
	}

	#line .circle-2 {
		top: 58px;
		right: 166px;
	}

	#line .circle-3 {
		top: 55px;
		right: 285px;
	}

	#line .circle-4 {
		bottom: 117px;
		left: 62px;
	}

	#line .circle-5 {
		bottom: 24px;
		left: -11px;
	}

	#intro {
		transform: scale(0.8);
		font-size: 14px;
		width: 395px;
		bottom: 40px;
		right: 0px;
		padding: 10px;
	}

	#intro p .forma {
		transform: scale(.7);
		bottom: 36px;
		right: -27px;
	}

	#content .brush {
		background-position-x: 206px;
	}

	.wrap-btn, .count {
		text-align: center;
	}

	.commit ul li {
		margin: auto;
	}

	#content .c-col {
		margin-bottom: 10px;
		padding: 10px 20px;
	}

	#content-bot .c-1, #content-bot .c-3 {
		text-align: center;
	}

	#content-bot .c-1 p {
		margin-left: 0px;
		margin-top: 35px;
	}

	#content-bot .c-2 img {
		width: 46%;
	}

	#content-bot .c-3 .txt {
		top: 0px;
	}

	footer{
		width: 100vw;
	}

	footer #ul-social {
		text-align: center;
	}

	footer .social ul#ul-social {
		margin-top: 0px;
	}

	footer {
		margin-top: 20px;
	}

	footer .f-1 {
		margin-top: 20px;
		padding-left: 50px;
	}

}

/*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
}

@media (min-width:768px) {
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
@media (min-width:481px) and (max-width:767px) {
	#head-banner {
		width: fit-content;
		background-position-y: 86px;
		height: 396px;
	}

	#line {
		top: 22px;
		margin: 0px;
		background-position-y: 86px;
		height: 366px;
		transform: scale(0.6);
		left: 66px;
	}

	#line .circle {
		transform: scale(1.3);
	}

	#line .circle-1{
		top:30px;
		right:10px;
	}

	#line .circle-2{
		top:110px;
		right:220px;
	}

	#line .circle-3{
		top:90px;
		right:460px;
	}
	#line .circle-4{
		top:150px;
		left:120px;
	}
	#line .circle-5{
		top:270px;
		left:-80px;
	}

	#intro {
		font-weight: bold;
    
    bottom: 0px;
    font-size: 19px;
    right: -20px;
	}

	#intro .forma {
		top: -40px;
	}

	.header-title a {
		font-size: 16px;
	}

	.header-contact {
		transform: scale(0.8);
		bottom: 10px;
	}

	#content .wrap-col {
		padding-left: 100px;
		max-width: 100%;
		text-align: center;
	}

	#content .wrap-col .c-col{
		width: 110%;
	}

	#content .brush {
		background-position-x: 186px;
	}

	#content .commit ul li {
		margin: auto;
	}

	#content-bot .c-1 .txt {
		margin-top: 20px;
	}

	#content-bot .c-2 {
		margin-left: 70px;
		text-align: center;
	}

	#content-bot .c-3 .txt {
		margin-left: 110px;
		top: 0;
	}

	#content-bot {
		text-align: center;
	}

	#content-bot .c-2 img {
		width: 50%;
	}

	.wrap-footer{
		width: fit-content;
		/* width: 135vw; */
	}

	footer {
		margin-top: 16px;
		width: 122vw;
	}

	footer .fu-2 li {
		display: block;
	}

	footer #ul-social {
		margin-top: 10px;
		text-align: center;
	}

	footer .f-1 {
		margin-top: 20px;
		padding-left: 50px;
	}

	footer .social ul#ul-social {
		margin-top: 0px;
	}

}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
@media (min-width:320px) and (max-width:480px) {
	#head {
		height: 127px;
	}

	#head .head-col-1 {
		width: 100%;
	}

	#head .left {
		float: none;
	}

	#head .nhan-sam {
		top: 20px;
		left: 155px;
		width: 60px;
	}

	#head .header-title {
		padding-left: 0px;
		display: block;
		text-align: center;
		font-size: 46px;
	}

	#head .header-contact {
		display: none;
	}

	#head-banner {
		height: 550px;
		width: 279vw;
		background-position: center 116px;
	}

	#line {
		transform: scale(.7);
		margin-left: 150px;
		margin-top: 60px;
		right: -45px;
		top: 80px;
	}

	#line img {
		display: none;
		visibility: hidden;
	}

	#line #intro {
		display: none;
	}

	#line .circle {
		transform: scale(1.7);
	}

	#line .circle-1 {
		top: 30px;
		right: 0px;
	}

	#line .circle-2 {
		top: 120px;
		right: 250px;
	}

	#line .circle-3 {
		top: 60px;
		right: 510px;
	}

	#line .circle-4 {
		top: 140px;
		left: 40px;
	}

	#line .circle-5 {
		top: 80px;
		left: -210px;
	}

	.wrap-footer {
		width: fit-content;
	}

	#content {
		width: 265vw;
	}

	#content .wrap-col {
		padding: 10px 76px;
		width: 100%;
	}

	#content .brush {
		background-size: 70%;
		font-size: 42px;
		height: 161px;
		background-position: 89px 2px;
	}

	#content .brush span {
		font-size: 66px;
	}

	#content .c-col {
		margin-left: 3%;
		margin-bottom: 55px;
		text-align: center;
	}

	#content .form input, #content .form textarea {
		padding: 15px 20px;
		font-size: 32px;
	}

	#content .count p {
		font-size: 36px;
		padding-right: 20px;
	}

	#content .count form select {
		font-size: 26px;
		padding: 15px;
	}

	#content .count form input {
		font-size: 30px;
		padding: 15px 40px;
	}

	#content .commit ul li {
		width: 100%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#content .commit ul li i {
		font-size: 51px;
	}

	#content .commit ul li .pf {
		font-size: 43px;
	}

	#content .commit ul li .ps {
		font-size: 40px;
	}

	#content .wrap-btn .btn {
		transform: scale(1.4);
		margin-top: 56px;
	}

	#content .c-col h1 {
		font-size: 38px;
	}

	#content .c-col .border {
		transform: scale(1.5);
		padding: 20px 10px;
		margin-top: 84px;
		margin-bottom: 84px;
	}

	#content .title-price, #content .title-price span {
		font-size: 37px;
	}

	#content-bot {
		text-align: center;
	}

	#content-bot .c-1 .txt {
		margin-left: 0px;
		margin-top: 28px;
	}

	#content-bot .c-2 img {
		width: 64%;
	}

	#content-bot .c-1 .txt, #content-bot .c-3 .txt {
		font-size: 50px;
	}

	#content-bot .c-3 .txt {
		top: 0;
	}

	#content-bot .c-1 p:after, #content-bot .c-3 p:after {
		bottom: 15px;
	}

	footer {
		width:279vw;
	}

	footer .f-1 {
		padding-left: 56px;
	}

	footer .f-1 h1 {
		font-size: 46px;
	}

	footer .f-1 ul li i {
		font-size: 30px;
	}

	footer .f-1 ul li p {
		font-size: 26px;
		padding-left: 20px;
	}

	footer .fu-2 {
		margin-left: 66px;
	}

	footer .fu-2 li i {
		font-size: 26px;
	}

	footer .fu-2 li p {
		font-size: 28px;
	}

	footer .social #ul-social {
		margin-bottom: 20px;
		text-align: center;
		margin-top: 0px;
	}

	footer .social #ul-social li a img {
		width: 76px;
		border: 4px solid #d0d467;
	}

	footer #copy .fb {
		padding: 16px 60px;
		width: 766px;
		margin-bottom: 15px;
	}

	footer #copy .fb h3 {
		font-size: 36px;
	}

}

/* Media Query CSS - END */

/* ********************** */

/* SVG CSS - START*/

.blue-eyes .eye-color {
	fill: blue;
}

.sad .mouth {
	transform: rotate(180deg) scale(0.6);
	transform-origin: 350px 390px;
}

/* SVG CSS - END*/
